Shri Jains E-Commerce Automation Project/Shri Jains - Delivery Status Automation.json
{
  "name": "Shri Jains - Delivery Status Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit#gid=0"
        },
        "options": {}
      },
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        192
      ],
      "id": "dc7086f4-de35-4af5-b8cc-e941889662d4",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "R0Gz7rmTPEiGlZcL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "orderId",
              "value": "={{ $json[\"Order ID\"] }}"
            },
            {
              "name": "customerName",
              "value": "={{$json.Name}}"
            },
            {
              "name": "customerEmail",
              "value": "={{$json.Email}}"
            },
            {
              "name": "deliveryDate",
              "value": "={{ new Date((Number($json['Delivery Date']) - 25569) * 86400000).toISOString().split('T')[0] }}"
            },
            {
              "name": "address",
              "value": "={{ $json.Address }},{{ $json.City }},{{ $json[\"ZIP Code\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Order Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -800,
        224
      ],
      "id": "51c7e9b8-a584-4226-9a67-067efb59f199"
    },
    {
      "parameters": {
        "fromEmail": "aahacker000@gmail.com",
        "toEmail": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "=Your order {{ $('Format Order Data').item.json['Order ID'] }} is placed successfully",
        "emailFormat": "html",
        "html": "=<p>Dear {{ $('Google Sheets Trigger').item.json.Name }},</p>\n\n<p>Thank you for your order! We’re happy to inform you that your order has been <strong>successfully placed</strong> and is now being processed.</p>\n\n<hr>\n\n<p><strong>Order Details</strong></p>\n<ul>\n  <li><strong>Order ID:</strong> {{ $('Google Sheets Trigger').item.json['Order ID'] }}</li>\n  <li><strong>Product:</strong> {{ $('Google Sheets Trigger').item.json['Order Itmes'] }}</li>\n  <li><strong>Payment Amount:</strong> ₹{{ $('Google Sheets Trigger').item.json['Paid Amount'] }}</li>\n  <li><strong>Payment Mode:</strong> {{ $('Google Sheets Trigger').item.json.Mode }}</li>\n  <li><strong>Expected Delivery Date:{{ $('Format Order Data').item.json.deliveryDate }}</strong> </li>\n</ul>\n\n<hr>\n\n<p>You will receive another email once your order is delivered.</p>\n\n<p>If you have any questions, feel free to contact our support team.</p>\n\n<p>\nBest regards,<br>\n<strong>Shri Jain Stationery Mart</strong><br>\n</p>",
        "options": {
          "attachments": "data"
        }
      },
      "name": "Email to Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -192,
        144
      ],
      "id": "bc0b5277-6aaf-45b9-85b9-dfa34cbed764",
      "webhookId": "af8f2497-1c08-489c-b8d1-b73b2cd6ccaf",
      "credentials": {
        "smtp": {
          "id": "wTJLW1RUh9PFIKzZ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "aahacker000@gmail.com",
        "toEmail": "arnavjain2107@gmail.com",
        "subject": "=New Order {{ $('Google Sheets Trigger').item.json[\"Order ID\"] }} – Deliver by {{ $('Format Order Data').item.json.deliveryDate }}",
        "emailFormat": "html",
        "html": "=<p>Hello Shri Jain,</p>\n\n<p>A new order has been <strong>successfully placed</strong>. Below are the order and customer details:</p>\n\n<hr>\n\n<p><strong>Order Information</strong></p>\n<ul>\n  <li><strong>Order ID:</strong>{{ $('Google Sheets Trigger').item.json[\"Order ID\"] }} </li>\n  <li><strong>Ordered Item:</strong> {{ $('Google Sheets Trigger').item.json[\"Order Itmes\"] }}</li>\n  <li><strong>Payment Amount:</strong> ₹{{ $('Google Sheets Trigger').item.json[\"Paid Amount\"] }}</li>\n  <li><strong>Payment Mode:</strong>{{ $('Google Sheets Trigger').item.json.Mode }} </li>\n  <li><strong>Delivery Date:</strong> {{ $('Format Order Data').item.json['Delivery Date'] }}</li>\n</ul>\n\n<hr>\n\n<p><strong>Customer Details</strong></p>\n<ul>\n  <li><strong>Name:</strong> {{ $('Google Sheets Trigger').item.json.Name }}</li>\n  <li><strong>Email:</strong> {{ $('Google Sheets Trigger').item.json.Email }}</li>\n  <li><strong>Phone:</strong>{{ $('Google Sheets Trigger').item.json[\"Phone No.\"] }}</li>\n  <li><strong>Address:</strong><br>\n    {{ $('Google Sheets Trigger').item.json.Address }},<br>\n{{ $('Google Sheets Trigger').item.json.City }}– {{ $('Google Sheets Trigger').item.json[\"ZIP Code\"] }}\n  </li>\n</ul>\n\n<hr>\n\n<p>Please process this order and ensure timely delivery.</p>\n\n<p>\n<strong>System Notification</strong><br>\nShri Jain Stationery Mart\n</p>",
        "options": {
          "attachments": "data"
        }
      },
      "name": "Email to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        16,
        224
      ],
      "id": "d8f4aa4c-7a95-4a53-9955-bae267f13a89",
      "webhookId": "e0b66acf-e5bd-4b8d-90fc-fec8bf6d6a51",
      "credentials": {
        "smtp": {
          "id": "wTJLW1RUh9PFIKzZ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "aahacker000@gmail.com",
        "toEmail": "={{$json.Email}}",
        "subject": "=Your order {{ $('Sheet Read Delivery Status').item.json['Order ID'] }} has been delivered successfully ",
        "emailFormat": "html",
        "html": "=<p>Dear {{ $('Sheet Read Delivery Status').item.json.Name }},</p>\n\n<p>We are pleased to inform you that your order has been <strong>successfully delivered</strong>.</p>\n\n<hr>\n\n<p><strong>Order Details</strong></p>\n<ul>\n  <li><strong>Order ID:</strong> {{ $('Sheet Read Delivery Status').item.json['Order ID'] }}</li>\n  <li><strong>Product(s):</strong> {{ $('Sheet Read Delivery Status').item.json['Order Itmes'] }}</li>\n</ul>\n\n<hr>\n\n<p><strong>Delivery Address</strong></p>\n<p>\n  {{ $('Sheet Read Delivery Status').item.json.Address }}<br>\n  {{ $('Sheet Read Delivery Status').item.json.City }}–{{ $('Sheet Read Delivery Status').item.json['ZIP Code'] }}\n</p>\n\n<p>We hope you enjoy your purchase. If you have any questions or need support, please feel free to contact us.</p>\n\n<p>\nThank you for shopping with <strong>Shri Jain Stationery Mart</strong>.<br>\nWe look forward to serving you again!\n</p>",
        "options": {}
      },
      "name": "Delivery Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -592,
        416
      ],
      "id": "e136c96f-1f02-4671-b6cf-277c2a50b41b",
      "webhookId": "c0f11de8-5e12-4c2b-a37f-d590fa037c2e",
      "credentials": {
        "smtp": {
          "id": "wTJLW1RUh9PFIKzZ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        432
      ],
      "id": "db5acd57-1ba4-46f5-b72c-8eae315b4021",
      "name": "Sheet Read Delivery Status",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "R0Gz7rmTPEiGlZcL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d8a3c6a7-a174-4b0b-8180-0950803d0467",
              "leftValue": "={{ $json[\"Delivery Status\"] }}",
              "rightValue": "Delivered",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Delivery Due",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -784,
        512
      ],
      "id": "7135c881-8856-4a8d-921c-eca670f9f53a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f69569ea-a7f0-44e8-9dc4-67f3a2922ca7",
              "leftValue": "={{ $json[\"Mail Sent\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "0772386f-1fe7-4ac3-9341-46ee85bbfea6",
              "leftValue": "={{ $json[\"Invoice Sent\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        128
      ],
      "id": "516723f3-6ed5-4cd2-b702-8b0f820b8f29",
      "name": "Mail Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b16b4171-3a73-45cb-9639-d6d71b86b6ba",
              "leftValue": "={{ $json[\"Delivery Mail Sent\"] }}",
              "rightValue": "={{ $json[\"Delivery Mail Sent\"] }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -992,
        416
      ],
      "id": "e0b930a7-d312-47c9-ab97-47b735ae99f8",
      "name": "Delivery Mail Status"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI",
          "mode": "list",
          "cachedResultName": "Shri Jains Order Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mail Sent": "Yes",
            "Order ID": "={{ $('Google Sheets Trigger').item.json['Order ID'] }}",
            "Invoice Sent": "Yes"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone No.",
              "displayName": "Phone No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZIP Code",
              "displayName": "ZIP Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Itmes",
              "displayName": "Order Itmes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Paid Amount",
              "displayName": "Paid Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mode",
              "displayName": "Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Date",
              "displayName": "Delivery Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ordered Date",
              "displayName": "Ordered Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Status",
              "displayName": "Delivery Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail Sent",
              "displayName": "Mail Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Delivery Mail Sent",
              "displayName": "Delivery Mail Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Sent",
              "displayName": "Invoice Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        128
      ],
      "id": "cb674730-6796-48cf-83c8-b56b6c46f092",
      "name": "Change Mail Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pZSGd1wXwCSJAxGf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI",
          "mode": "list",
          "cachedResultName": "Shri Jains Order Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ywc6xSMbOSSsmIejetbVxRSvjKicqrraWYK1OIHcaI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Delivery Mail Sent": "Yes",
            "Order ID": "={{ $('Sheet Read Delivery Status').item.json['Order ID'] }}"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone No.",
              "displayName": "Phone No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZIP Code",
              "displayName": "ZIP Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Itmes",
              "displayName": "Order Itmes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Paid Amount",
              "displayName": "Paid Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mode",
              "displayName": "Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Date",
              "displayName": "Delivery Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ordered Date",
              "displayName": "Ordered Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Status",
              "displayName": "Delivery Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail Sent",
              "displayName": "Mail Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Mail Sent",
              "displayName": "Delivery Mail Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Sent",
              "displayName": "Invoice Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        464
      ],
      "id": "ce3d4506-66c5-44e6-870b-ab54f0e872bd",
      "name": "Change Delivery Mail Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pZSGd1wXwCSJAxGf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5891795d-ab53-41c5-9f3d-7ac871f56063",
              "name": "html",
              "value": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      padding: 40px;\n      font-size: 15px;\n      color: #000;\n    }\n\n    .header {\n      text-align: center;\n      margin-bottom: 30px;\n    }\n\n    .shop-name {\n      font-size: 30px;\n      font-weight: bold;\n    }\n\n    .shop-address {\n      font-size: 15px;\n      margin-top: 6px;\n    }\n\n    hr {\n      margin: 30px 0;\n      border: 1px solid #000;\n    }\n\n    .details {\n      width: 100%;\n      margin-bottom: 30px;\n      font-size: 16px;\n    }\n\n    .details td {\n      padding: 8px 0;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 20px;\n      font-size: 16px;\n    }\n\n    th, td {\n      border: 1px solid #000;\n      padding: 14px;\n      text-align: left;\n    }\n\n    th {\n      background-color: #f2f2f2;\n      font-size: 17px;\n    }\n\n    .total {\n      margin-top: 30px;\n      font-size: 20px;\n      font-weight: bold;\n      text-align: right;\n    }\n\n    .footer {\n      margin-top: 45px;\n      text-align: center;\n      font-size: 15px;\n    }\n  </style>\n</head>\n\n<body>\n\n  <div class=\"header\">\n    <div class=\"shop-name\">Shri Jains Stationery Mart</div>\n    <div class=\"shop-address\">\n      Arya Samaj Road, Rampura, Kota\n    </div>\n  </div>\n\n  <hr>\n\n  <table class=\"details\">\n    <tr>\n      <td><b>Order ID:</b> {{$json.orderId}}</td>\n      <td><b>Customer Name:</b> {{$json.customerName}}</td>\n    </tr>\n    <tr>\n      <td><b>Email:</b> {{$json.customerEmail}}</td>\n      <td><b>Address:</b> {{$json.address}}</td>\n    </tr>\n  </table>\n\n  <table>\n    <tr>\n      <th>Item Description</th>\n      <th>Payment Mode</th>\n      <th>Amount (₹)</th>\n    </tr>\n    <tr>\n      <td>{{ $json['Order Itmes'] }}</td>\n      <td>{{ $json.Mode }}</td>\n      <td>₹ {{ $json['Paid Amount'] }}</td>\n    </tr>\n  </table>\n\n  <div class=\"total\">\n    Total Amount Paid: ₹ {{ $json['Paid Amount'] }}\n  </div>\n\n  <div class=\"footer\">\n    Thank you for shopping with <b>Shri Jains Stationery Mart</b> <br>\n    Visit us again!\n  </div>\n\n</body>\n</html>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        160
      ],
      "id": "5da1599b-e0d5-490c-bb66-a7271ce67ad6",
      "name": "Invoice HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{$json.html}}"
            },
            {
              "name": "apiKey",
              "value": "pJfnp6BuTDo6LxmBXP5ny8ak450rdApfgZ1XnLyIcepLsVHlVbXsQh09zsPuJhRE"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        240
      ],
      "id": "47cbd636-69c6-4dbb-9f04-90632eb98943",
      "name": "Invoice into PDF"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Mail Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Data": {
      "main": [
        [
          {
            "node": "Invoice HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Email": {
      "main": [
        [
          {
            "node": "Change Delivery Mail Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email to Customer": {
      "main": [
        [
          {
            "node": "Email to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Read Delivery Status": {
      "main": [
        [
          {
            "node": "Delivery Mail Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delivery Due": {
      "main": [
        [
          {
            "node": "Delivery Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email to Admin": {
      "main": [
        [
          {
            "node": "Change Mail Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail Status": {
      "main": [
        [
          {
            "node": "Format Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Mail Status": {
      "main": [
        [
          {
            "node": "Check Delivery Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice HTML": {
      "main": [
        [
          {
            "node": "Invoice into PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice into PDF": {
      "main": [
        [
          {
            "node": "Email to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0737a916-494a-41ca-8418-b5988186fe30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5347df9804fd220f0a4c776bf4cdd3c063a7d27747d8fcd6c4b4ec957098b9a0"
  },
  "id": "k3j2NXBzuqcrGE1J",
  "tags": []
}